/* FONTS
################################# */

@font-face{
    font-family: "Beast";
    src: url(../fonts/BEAST___.TTF);
}
@font-face{
    font-family: "sweet Hipster";
    src: url(../fonts/Sweet\ Hipster.ttf);
}

/* GLOBAL
################################# */

body, html, h1, h2{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url("../images/revo_bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
    color: lightgoldenrodyellow;
}
h1, h2, h3{
    text-align: center;
}
h1, h2{
    
    color: rgb(228, 228, 0);
    font-weight: lighter;
}
h1{
    margin-top: 0.7em;
    font-family: "Beast", serif;
    font-size: 4em;
}
h2{
    font-family: "sweet Hipster", serif;
    font-size: 4em;
}
h3{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: rgb(253, 253, 98);
}
a:hover{
    color: rgb(228, 228, 0);
    text-shadow: 0 0 2px lightgoldenrodyellow;
}
.bloc{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
}
.stellarnav.dark a,
.stellarnav.dark li a {
    color: lightgoldenrodyellow;
}
.button {
    display: block;
    height: 35px;
    padding-top: 10px;
    text-align: center;
    color: lightgoldenrodyellow;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 0);
    transition-duration: 0.4s;
}
.button:hover{
    background-color: rgba(20, 20, 0, 0.7);
    box-shadow: 0 0 5px black;
    color: unset;
    text-shadow: unset;
}
footer{
    display: flex;
    justify-content: space-between;
}

/* ACCUEIL
################################# */

.prez{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75vh;
}
.prez h2{
    margin-bottom: 0.5em;
}

/*GALLERY
################################# */

.galCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-gap: 25px;
    margin-top: 2em;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.3s;
}
article:hover{
    transform: scale(1.02);
}
figcaption{
    text-align: center;
    color: rgb(253, 253, 98);
}
.social{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgb(228, 228, 0);
}
.social img{
    width: 50px;
    transition-duration: 1s;
}
.social p:hover img{
    transform: rotateY(180deg);
}
article figure img{
    display: block;
    margin: auto;
    max-width: 100%;
}

@media screen and (max-width: 1240px){

    /*GALLERY
    ################################# */

    .galCont{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, auto);
    }
}

@media screen and (max-width: 300px) {

    h1, h2{
        font-family: serif;
        font-size: 2.5em;
    }

}