<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Galerie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/stellarnav.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <header>
        <nav class="stellarnav">
            <ul>
                <li class="mega" data-columns="4"><a href="">Dropdown</a>
                    <ul>
                        <li><a href="#">Item1</a></li>
                        <li><a href="#">Item2</a></li>
                        <li><a href="#">Item3</a></li>
                        <li><a href="#">Item4</a></li>
                        <li><a href="#">Item5</a></li>
                        <li><a href="#">Item6</a></li>
                        <li><a href="#">Item7</a></li>
                        <li><a href="#">Item8</a></li>
                    </ul>
                </li>

                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
                <li><a href="">Item 4</a></li>
                <li><a href="">Item 5</a></li>
                <li><a href="">Item 6</a></li>
                <li class="drop-left"><a href="">Drop Left</a>
                    <ul>
                        <li><a href="#">How deep?</a>
                            <ul>
                                <li><a href="#">Deep</a>
                                    <ul>
                                        <li><a href="#">Even deeper</a>
                                            <ul>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <h1>Galerie</h1>
    </header>
    <section class="galCont">
        <article class="laBas bloc">
            <a href="https://la-bas.org"><figure>
                <figcaption>Là-bas si j'y suis</figcaption>
                <img src="../../ressources/images/logos/logo_la_bas.png" alt="img là bas" />
            </figure></a>
            <p>« LÀ-BAS SI J’Y SUIS », créée et animée par Daniel Mermet, est une des plus grandes émissions de l’histoire de la radio. Magazine de grand reportage radiophonique né en 1989 lors de la chute du mur de Berlin, diffusée quotidiennement sur France Inter jusqu’en 2014, récompensée par de nombreux prix, rencontrant un grand succès populaire, l’émission se développe aujourd’hui avec succès sur le net, en radio toujours mais aussi en vidéo, en images et en textes.</p>
            <p>Sans publicité, sans subvention, le site est exclusivement financé par les abonnements (5 euros mensuel). Pour son premier anniversaire, le 21 janvier 2016, le site comptait 25 000 abonnés, 30 000 visites quotidiennes en moyenne, un million chaque mois. Depuis plus de 25 ans et toujours « plus près des jetables que des notables », Là-bas affirme son attachement à la tradition d’un journalisme de contre-pouvoir, sous une forme à la fois populaire, rigoureuse et engagée.</p>
            <div class="social">
                <p><a href="https://www.facebook.com/LaBasSiJySuis/"><img src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/LabasOfficiel"><img src="../../ressources/images/logos/twitter.png" alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="tView bloc">
            <a href="https://thinkerview.com/">
                <figure>
                    <figcaption>Thinkerview</figcaption>
                    <img src="../../ressources/images/logos/thinkerview.jpg" alt="img Thinkerview" />
                </figure>
            </a>
            <p>ThinkerView est un laboratoire d'idées français indépendant lancé en janvier 2013, proche du milieu du hacking. Il diffuse des entrevues sans montage, avec des personnalités d'horizons différents, principalement grâce à sa chaîne YouTube suivie par plus de 280 000 abonnés. Ses domaines d'études les plus récurrents sont la géopolitique, la finance, le terrorisme, les médias, internet, l'environnement et la société.</p>
            <h4>Thinkerview a pour objectifs</h4>
            <ul>
                <li>Mettre à l’épreuve les idées/discours en décelant leurs failles, leurs limites.</li>
                <li>Écouter les points de vue peu médiatisés afin d’élargir nos prismes de lecture.</li>
                <li>Appréhender toute la complexité des enjeux actuels et futurs de notre monde.</li>
            </ul>
            <div class="social">
                <p><a href="https://www.facebook.com/LaBasSiJySuis/"><img src="../../ressources/images/logos/facebook.png"
                            alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/LabasOfficiel"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="leMedia bloc">
            <a href="https://www.lemediatv.fr/">
                <figure>
                    <figcaption>Le Media TV</figcaption>
                    <img src="../../ressources/images/logos/le_media_tv.png" alt="img là bas" />
                </figure>
            </a>
            <p>Le Média est un site d'actualité français gratuit. Lancé le 15 janvier 2018 et fondé par Sophia Chikirou, Henri Poulain et Gérard Miller, il proposa notamment un journal télévisé du lundi au vendredi.</p>
            <p>Média revendique dans sa charte son « pluralisme » et son indépendance vis-à-vis des « puissances industrielles et financières ». Mais de nombreux médias soulèvent la question de l'indépendance éditoriale du Média vis-à-vis du parti politique La France insoumise, soulignant notamment que les fondateurs du Média ont soutenu ou participé à la campagne de Jean-Luc Mélenchon lors de l'élection présidentielle de 2017, et affirmant qu'il existe une proximité idéologique entre Le Média et les Insoumis. D'après Sophia Chikirou, ex-directrice du Média, l'indépendance éditoriale est totale. Cependant, Le Point a publié un SMS de Sophia Chikirou qui indique que Jean-Luc Mélenchon a relu, avant sa publication, le manifeste diffusé par Le Média en septembre 2017. Et des membres de l'équipe logistique du Média font partie de La France insoumise. Toutefois, selon Marianne, il n'existe aucun lien connu entre les journalistes du Média et La France insoumise.</p>
            <div class="social">
                <p><a href="https://www.facebook.com/LeMediaOfficiel/"><img
                            src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/LeMediaTV"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="lvsl bloc">
            <a href="https://lvsl.fr/">
                <figure>
                    <figcaption>Le vent se lève</figcaption>
                    <img src="../../ressources/images/logos/lvsl.png" alt="img là bas" />
                </figure>
            </a>
            <p>Le Vent Se Lève part d’un constat : celui d’une défaite historique des forces de progrès. Notre projet
                s’annonce donc comme une entreprise de reconquête.</p>
            <div class="social">
                <p><a href="https://www.facebook.com/LaBasSiJySuis/"><img
                            src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/LabasOfficiel"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
    </section>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script type="text/javascript" src="../../ressources/js/stellarnav.min.js"></script>
    <script type="text/javascript" src="../../ressources/js/stellarnav.conf.js"></script>
</body>
</html>